@charset "utf-8";
/* CSS Document */

/* Importing Google fonts */
@import url("https://fonts.googleapis.com/css?family=Lora:400,700|Roboto:300,400,700");

/* Importing component files */
@import url("components/banner.css");
@import url("components/container.css");
@import url("components/button.css");
@import url("components/flex.css");
@import url("components/card.css");
@import url("components/footer.css");

/* General style rules for fonts and colors */
body {
	font-family: 'Lora', serif;
	font-size: 18px;
	background-color: rgb(245,245,245)
}
h1, h2, h3 {
 	font-family: 'Roboto', sans-serif;
	font-weight: 300;
}
a {
	text-decoration: none;
	font-family: 'Roboto', sans-serif;
}

