@charset "utf-8";
/* CSS Document */
.banner {
	background-image: linear-gradient(-225deg, rgba(0,0,0,0.4) 0%, rgba(0,0,0,0.2) 50%), url("../../images/undraw_Photograph_re_up3b.png");
	background-size: cover;
	background-position: center;
	padding: 30px 0px 70px;
}
.banner h1 {
  	color: white;
  	font-size: 50px;
}
.banner h2 {
  	color: white;
  	font-size: 30px;
  	font-weight: 300;
	margin-top: -20px;
	margin-bottom: 40px
}
@media only screen and (min-resolution:3dppx), screen and (max-width:700px) {
	#banner {padding: 0px 20px}
}