@charset "utf-8";
/* CSS Document */

.button {
	display: inline-block;
	background-color: #8e2adc;
/*	background-color: darkorange;*/
	border-radius: 5px;
	padding: 10px 20px;
	margin-right: 20px;
	text-align: center;
	color: white;
	font-weight: 600;
	text-transform: uppercase;
	transition: color 0.5s ease;
}

.button:hover {
	background-color: gold;
}