@charset "utf-8";
/* CSS Document */

.footer {
	margin: 50px 0px auto;
	text-align: center;
}
.icon {
	font-size: 25px;
/*	color: blueviolet;*/
	box-shadow: 0px 10px 30px 5px rgba(0,0,0,0.1);
	transition: color 0.3s ease;
	color: #8e2adc;
}

.icon:hover {
	color: gold;
}


.list-inline {
 	list-style: none;
 	padding-left: 0px;
}
.list-inline > li {
  display: inline;
  padding: 0px 30px;
}
